@charset "UTF-8";

.button-flex{
  display: flex;
  justify-content: center;
}

.button{
  display: inline-block;
  margin-right: 30px;
  padding: 0 15px;
  line-height: 50px;
  border-radius: 10px;
  text-align: centers;
  cursor: pointer
}

.button-red{
  color: #fff;
  background-color: #fd0f0fd9;
}

.button-blue{
  color: #fff;
  background-color: #170ffdd9;
}

.button-green{
  color: #000;
  background-color: #0ffd0fd9;
}

.button-sha-red{
  color: #fff;
  background-color: #fd0f0fd9;
  box-shadow: 0px 5px rgba(63, 5, 5, 0.851);
}

.button-sha-blue{
  color: #fff;
  background-color: #170ffdd9;
  box-shadow: 0px 5px rgba(5, 13, 63, 0.851);
}

.button-sha-green{
  color: #000;
  background-color: #0ffd0fd9;
  box-shadow: 0px 5px rgba(5, 63, 5, 0.851);
}

.button-trans-red{
  color: #fff;
  background-color: #fd0f0fd9;
  box-shadow: 0px 5px rgba(63, 5, 5, 0.851);
}

.button-trans-red:active{
  transform: translateY(5px);
  box-shadow: none;
}

.button-trans-blue{
  color: #fff;
  background-color: #170ffdd9;
  box-shadow: 0px 5px rgba(5, 13, 63, 0.851);
}

.button-trans-blue:active{
  transform: translateY(5px);
  box-shadow: none;
}

.button-trans-green{
  color: #fff;
  background-color: #0ffd0fd9;
  box-shadow: 0px 5px rgba(5, 63, 5, 0.851);
}

.button-trans-green:active{
  transform: translateY(5px);
  box-shadow: none;
}

.button-double{
  color: #67c5ff;
  border: double 4px #67c5ff;
}

.button-double:hover{
  background: #fffbef;
}

.button-dashed{
  color: #67c5ff;
  border: dotted 4px #75caff;
}

.button-dashed:hover{
  border: dashed 4px #75caff;
}

.button-back{
  color: #0079a5f8;
  background: #d0edfff8;
  border: dashed 4px #67c5ff;
}

.button-back:hover{
  color: #67c5ff;
  background: #fff;
}