@charset "UTF-8";

.balloon {
  position: relative;
  background: #fad296;
  width: 500px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 20px;
  line-height: 16px;
  font-size: 16px;
  border: solid 5px #8f5a0a;
}

.balloon::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 28px solid #8f5a0a;
  border-right: 25px solid transparent;
  /* border-bottom: 0px solid #8f5a0a; */
  border-left: 25px solid transparent;
  top: 100%;
  left: 6%;
}

.balloon::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fad296;
  border-right: 20px solid transparent;
  /* border-bottom: 0px solid transparent; */
  border-left: 20px solid transparent;
  top: 100%;
  left: 7%;
}